CONFIG_SEC_A52SXQ_PROJECT=y
CONFIG_MACH_A52SXQ_EUR_OPEN=y
CONFIG_SEC_NFC=y
CONFIG_SEC_NFC_DUPLICATED_IRQ_WQ_QC=y
CONFIG_BLK_DEV_LOOP_MIN_COUNT=16
CONFIG_LEDS_SM5714=y
CONFIG_SENSORS_SX9364=y
CONFIG_LSM6DSO_FACTORY=y
CONFIG_STK31610_FACTORY=y
CONFIG_FLIP_COVER_DETECTOR_FACTORY=y
# CONFIG_PDIC_PD30 is not set
CONFIG_SENSORS_FINGERPRINT=y
CONFIG_SENSORS_ET7XX=y
CONFIG_INPUT_HALL_IC=y
CONFIG_HALL_NOTIFIER=y
CONFIG_HALL_LOGICAL=y
CONFIG_CHARGER_PCA9468=y
CONFIG_SEND_PDMSG_IN_PPS_REQUEST_WORK=y
CONFIG_CHARGER_SM5714=y
CONFIG_FUELGAUGE_SM5714=y
CONFIG_KPERFMON_BUILD=m
CONFIG_MFD_SM5714=y
CONFIG_MUIC_SM5714=y
CONFIG_MUIC_BCD_RESCAN=y
# CONFIG_MUIC_QC_DISABLE is not set
CONFIG_PDIC_SM5714=y
CONFIG_SM5714_FACTORY_MODE=y
CONFIG_SM5714_WATER_DETECTION_ENABLE=y
CONFIG_SM5714_SUPPORT_SBU=y
# CONFIG_SM5714_DISABLE_PD is not set
CONFIG_SECURITY_DSMS=y
CONFIG_SAMSUNG_OIS_MCU_STM32=y
CONFIG_SAMSUNG_OIS_Z_AXIS_CAL=y
CONFIG_SAMSUNG_REAR_QUADRA=y
CONFIG_SAMSUNG_SUPPORT_MULTI_MODULE=y
CONFIG_PANEL_S6E3FC3_AMS646YD01_LO_FHD=y
