CONFIG_SEC_A73XQ_PROJECT=y
CONFIG_MACH_A73XQ_EUR_OPEN=y
CONFIG_NFC_PN547=y
CONFIG_NFC_FEATURE_SN100U=y
# CONFIG_NFC_PN547_CLK_BBCLK2 is not set
# CONFIG_NFC_PN547_ESE_SUPPORT is not set
# CONFIG_NFC_PN547_LDO_CONTROL is not set
CONFIG_BLK_DEV_LOOP_MIN_COUNT=16
CONFIG_SND_SOC_WM_ADSP=m
CONFIG_SND_SOC_CIRRUS_AMP=m
CONFIG_SND_SOC_CS35L41=m
CONFIG_SND_SOC_CS35L41_I2C=m
CONFIG_LEDS_S2MU106_FLASH=y
CONFIG_SENSORS_SX9380=y
CONFIG_ICM4X6XX_FACTORY=y
CONFIG_STK3A9X_FACTORY=y
CONFIG_SUPPORT_LIGHT_CALIBRATION=y
CONFIG_SUPPORT_PROX_CALIBRATION=y
CONFIG_SUPPORT_BRIGHT_SYSFS_COMPENSATION_LUX=y
CONFIG_SUPPORT_BHL_COMPENSATION_FOR_LIGHT_SENSOR=y
CONFIG_SUPPORT_LIGHT_LCD_VERSION_DUALIZAION=y
CONFIG_SUPPORT_UNDER_PANEL_WITH_LIGHT_SENSOR=y
CONFIG_PDIC_SLSI_NON_MCU=y
CONFIG_PDIC_PD30=y
CONFIG_S2MU106_TYPEC_WATER=y
CONFIG_S2MU106_TYPEC_WATER_SBU=y
CONFIG_SB_CORE=y
CONFIG_SB_PQUEUE=y
CONFIG_SB_NOTIFY=y
CONFIG_SB_SYSFS=y
CONFIG_SB_VOTE=y
CONFIG_MUIC_MANAGER=y
CONFIG_MUIC_CORE=y
CONFIG_MUIC_SUPPORT_POWERMETER=y
CONFIG_MUIC_SYSFS=y
CONFIG_HV_MUIC_VOLTAGE_CTRL=y
CONFIG_MUIC_SUPPORT_PRSWAP=y
CONFIG_SENSORS_FINGERPRINT=m
CONFIG_SENSORS_FINGERPRINT_MODULE=y
CONFIG_SENSORS_FINGERPRINT_NORMALSPI=y
CONFIG_SENSORS_GW9558X=m
CONFIG_PDIC_S2MU106=y
CONFIG_S2MU106_PDIC_TRY_SNK=y
CONFIG_CHARGER_SM5451=y
CONFIG_INPUT_HALL_IC=y
CONFIG_HALL_NOTIFIER=y
CONFIG_HALL_LOGICAL=y
CONFIG_MFD_S2MU106=y
CONFIG_VIBRATOR_S2MU106=y
CONFIG_MUIC_S2MU106=y
CONFIG_HV_MUIC_S2MU106_AFC=y
# CONFIG_HV_MUIC_AFC_DISABLE_ENFORCE is not set
CONFIG_MUIC_S2MU106_RID=y
# CONFIG_MUIC_NOT_SUPPORT_QC is not set
CONFIG_FUELGAUGE_S2MU106=y
CONFIG_FUELGAUGE_S2MU106_USE_5MILLIOHM=y
CONFIG_TOUCHSCREEN_SYNAPTICS=m
CONFIG_CHARGER_S2MU106=y
CONFIG_PM_S2MU106=y
CONFIG_LSI_IFPMIC=y
CONFIG_ENABLE_FULL_BY_SOC=y
CONFIG_SAMSUNG_OIS_MCU_STM32=y
CONFIG_SAMSUNG_OIS_Z_AXIS_CAL=y
CONFIG_SAMSUNG_REAR_QUADRA=y
CONFIG_CAMERA_ADAPTIVE_MIPI=y
CONFIG_CAMERA_MCLK_DELAY=y
CONFIG_PANEL_SW83109_WM6676Z21_FHD=y
CONFIG_PANEL_SW83109_BF067XMM_A73_FHD=y
CONFIG_PANEL_A73_S6E3FC3_AMB667BV01_FHD=y
CONFIG_PANEL_S6E3HAB_AMB667AN01_A73_FHD=y
