CONFIG_SEC_M52XQ_PROJECT=y
CONFIG_MACH_M52XQ_EUR_OPEN=y
CONFIG_SEC_NFC=y
CONFIG_SEC_NFC_DUPLICATED_IRQ_WQ_QC=y
CONFIG_EXTRA_FIRMWARE="abov/a96t356_m52xq.bin abov/a96t356_m52xq_sub.bin"
CONFIG_EXTRA_FIRMWARE_DIR="firmware"
CONFIG_BLK_DEV_LOOP_MIN_COUNT=48
CONFIG_DM_VERITY_AVB=y
# CONFIG_USB_NET_CDC_NCM is not set
CONFIG_LEDS_SM5714=y
CONFIG_SENSORS_A96T3X6=y
CONFIG_SENSORS_A96T3X6_SUB=y
CONFIG_SENSORS_A96T3X6_LDO_SHARE=y
CONFIG_SENSORS_A96T3X6_CRC_CHECK=y
CONFIG_LSM6DSL_FACTORY=y
CONFIG_STK3A9X_FACTORY=y
CONFIG_SUPPORT_LIGHT_CALIBRATION=y
CONFIG_SUPPORT_PROX_CALIBRATION=y
CONFIG_SUPPORT_BRIGHT_SYSFS_COMPENSATION_LUX=y
CONFIG_SUPPORT_BHL_COMPENSATION_FOR_LIGHT_SENSOR=y
CONFIG_SUPPORT_LIGHT_LCD_VERSION_DUALIZAION=y
CONFIG_SUPPORT_UNDER_PANEL_WITH_LIGHT_SENSOR=y
# CONFIG_PDIC_PD30 is not set
CONFIG_MUIC_USE_MODULE_PARAM=y
CONFIG_SENSORS_FINGERPRINT=m
CONFIG_SENSORS_FINGERPRINT_MODULE=y
CONFIG_SENSORS_ET5XX=m
CONFIG_TOUCHSCREEN_SYNAPTICS=m
CONFIG_CHARGER_PCA9468=y
CONFIG_SEND_PDMSG_IN_PPS_REQUEST_WORK=y
CONFIG_CHARGER_SM5714=y
CONFIG_FUELGAUGE_SM5714=y
CONFIG_MFD_SM5714=y
CONFIG_MUIC_SM5714=y
CONFIG_MUIC_BCD_RESCAN=y
# CONFIG_MUIC_QC_DISABLE is not set
CONFIG_PDIC_SM5714=y
CONFIG_SM5714_FACTORY_MODE=y
# CONFIG_SM5714_DISABLE_PD is not set
CONFIG_CAMERA_ADAPTIVE_MIPI=y
CONFIG_PANEL_S6E3FC3_AMS646YD01_LO_FHD=y
CONFIG_PANEL_SW83109_BF067XMM_FHD=y
CONFIG_PANEL_S6E3HAB_AMB667AN01_FHD=y
CONFIG_PANEL_S6E3FA9_AMB667UM36_FHD=y
