name: Build KSU
on:
  workflow_dispatch:
    inputs:
      device:
        description: 'Device'
        required: true
        default: 'a73xq'
        type: choice
        options: [a73xq, a52sxq, m52xq]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: |
          chmod +x build_ksu.sh
          ./build_ksu.sh ${{ github.event.inputs.device }}
      - uses: actions/upload-artifact@v4
        with:
          name: KSU-Kernel
          path: ~/toolchains/RIO/FINAL/*.zip
