name: Python Kernel Builder

on:
  workflow_dispatch:
    inputs:
      variant:
        description: 'اختر نوع الجهاز'
        required: true
        default: 'a73xq'
        type: choice
        options: [a73xq, a52sxq, m52xq]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y git curl wget jq unzip tar lz4 gawk sed coreutils \
          python3 bc build-essential libssl-dev libelf-dev flex bison \
          gcc-aarch64-linux-gnu binutils-aarch64-linux-gnu

      - name: Run Python Build Engine
        run: python3 build.py "${{ github.event.inputs.variant }}"

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: Kernel-${{ github.event.inputs.variant }}
          path: "*.zip"
