name: RIO Dual-Stage Builder

on:
  workflow_dispatch:
    inputs:
      variant:
        description: 'اختر نوع الجهاز'
        required: true
        default: 'a73xq'
        type: choice
        options: [a73xq, a52sxq, m52xq]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Dependencies
        run: |
          sudo apt update && sudo apt install -y git device-tree-compiler lz4 xz-utils zlib1g-dev openjdk-17-jdk gcc g++ python3 python-is-python3 p7zip-full android-sdk-libsparse-utils erofs-utils \
            default-jdk git gnupg flex bison gperf build-essential zip curl libc6-dev libncurses-dev libx11-dev libreadline-dev libgl1 libgl1-mesa-dev \
            python3 make sudo gcc g++ bc grep tofrodos python3-markdown libxml2-utils xsltproc zlib1g-dev python-is-python3 libc6-dev libtinfo6 \
            make repo cpio kmod openssl libelf-dev pahole libssl-dev libarchive-tools zstd rsync --fix-missing && wget http://security.ubuntu.com/ubuntu/pool/universe/n/ncurses/libtinfo5_6.3-2ubuntu0.1_amd64.deb && sudo dpkg -i libtinfo5_6.3-2ubuntu0.1_amd64.deb

      - name: Run Python Build Engine
        # سنقوم بتشغيل السكربت باستخدام بايثون
        run: python3 build.py "${{ github.event.inputs.variant }}"

      - name: Upload All Kernels
        uses: actions/upload-artifact@v4
        with:
          name: RIO-Kernels-${{ github.event.inputs.variant }}
          path: "*.zip"
